.usermenu {
    display: flex;
    align-items: center;
    gap: 12px;
}

.username {
    font-weight: 700;
}

.logoutButton {
    color: #cfb51e;
    background-color: #000;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    display: block;
}